[submodule "devops_ue"]
	path = devops_ue
	url = https://github.com/life-exe/devops_ue
[submodule "Plugins/OpenAI"]
	path = Plugins/OpenAI
	url = https://github.com/life-exe/UnrealOpenAIPlugin
[submodule "Plugins/LogicDriver"]
	path = Plugins/LogicDriver
	url = https://github.com/Recursoft/LogicDriver
[submodule "Plugins/LogicDriver-Dialogue"]
	path = Plugins/LogicDriver-Dialogue
	url = https://github.com/Recursoft/LogicDriver-DialoguePlugin
